<!DOCTYPE html>

<html lang="en" prefix="og: http://ogp.me/ns#">

  <head>

    <meta charset="UTF-8" />

    <!-- basic meta -->
    <title>{{ options['title'] }}</title>
    <meta name="description" content="{{ options['description'] }}">

    <!-- opengraph:meta -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ options['title'] }}" />
    <meta property="og:description" content="{{ options['description'] }}">
    <meta property="og:url" content="{{ options['url'] }}" />
    <meta property="og:image" content="{{ options['url'] }}/media/thumbnail.png" />

    <!-- twitter:meta -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ options['title'] }}" />
    <meta name="twitter:description" content="{{ options['description'] }}" />
    <meta name="twitter:image" content="{{ options['url'] }}/media/thumbnail.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

    <button class="print" onclick="window.print()">print</button>
    
    <main>
      {{ content['text']|safe }}
    </main>

  </body>

</html>
