@font-face {
  font-family: hershey1;
  src: url('fonts/EMSReadability.otf');
}
@font-face {
  font-family: hersheyScript;
  src: url('fonts/Custom-Script.otf');
}

:root{
  --lh: 1.35rem;

  --stroke: 1.25px;
  --thick-stroke: calc(var(--stroke) * 2);
  --underline: calc(var(--stroke) * 0.875);

  --c-back: honeydew;
  --c-front: black;
  --c-accent: mediumblue;
  
  --border: var(--stroke) solid var(--c-front);

  --fs-up: 1.35rem;
  --fs-big: 2rem;
  --fs-mega: 4rem;
  --fs-small: 0.825rem;
  --fs-mini: 0.66rem;

  --max-width: 38rem;
}

@media (max-width: 36rem) {
  :root{
    --thick-stroke: calc(var(--stroke) * 2);
  }
}


/*  GLOBAL
    ========================================== */

html{
  scroll-behavior: smooth;
  font-size: 1.25em;
}

@media only screen and (max-width: 36rem) {
  html{
    /* but 16px on mobile */
    font-size: 1em;
  }
}

body{
  /* bigger line-height */
  line-height: var(--lh);

  /* webkit-stroke font */
  font-family: hershey1;
  -webkit-text-stroke-width: var(--stroke);
  -webkit-text-stroke-color: var(--c-front);
  color: transparent;

  margin: 0;
  background: var(--c-back);
  padding-left: calc(var(--max-width) / 2);
}

body > main{
  max-width: var(--max-width);
  position: relative;
  padding: calc(var(--lh) * 1.5) calc(var(--lh) * 2);
  padding-left: 1rem;
}

*::selection{
  background: fuchsia;
}

a,
a:visited{
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  border-bottom: var(--underline) solid var(--c-front);
  -webkit-text-stroke-color: var(--c-accent);
  border-color: var(--c-accent);
  transition: 0.1s border;
}
a:hover{
  border-bottom-width: var(--thick-stroke);
}

hr{
  border: none;
  margin: 0;
}
hr ~ *{
  display: none;
}

button{
  background-color: transparent;
  border: var(--border);
  font-family: hershey1;
  -webkit-text-stroke-width: var(--stroke);
  -webkit-text-stroke-color: var(--c-front);
  color: transparent;
  padding: 0.5em 1em;
  border-radius: 5em;
  cursor: pointer;
}

button.print{
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

@media only screen and (max-width: 54rem) {
  body{
    padding-left: 0;
  }
  .toc{
    display: none;
  }
  .print{
    display: none;
  }
  body > main{
    padding: calc(var(--lh) * 1) calc(var(--lh) * 0.5) calc(var(--lh) * 1);
    margin: auto;
  }
}

/*  LAYOUT
    ========================================== */

img, svg, iframe{
  display: block;
  max-width: 100%;
  height: auto;
}

iframe{
  margin: 0 auto;
  border: none;
  width: 16rem !important;
  height: 14rem !important;
}
figure{
  margin: calc(var(--lh) * 2) auto calc(var(--lh) * 3);

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
figcaption{
  font-size: var(--fs-mini);
  line-height: 1.15;
  max-width: 14rem;
}

small{
  display: block;
  margin-top: calc(var(--lh) * 3);
  font-size: var(--fs-small);
  line-height: 1.15;
}

svg{
  overflow: visible;
}

/*  TOC
    ========================================== */

.toc{
  position: fixed;
  left: 0;
  top: 0;
  font-size: var(--fs-small);
  line-height: 1.4;
  padding: 1rem;
  max-width: calc(var(--max-width) / 2);
  box-sizing: border-box;
  opacity: 0.25;
  transition: 0.35s opacity;
}
.toc:hover{
  opacity: 1;
}

.toc ul{
  margin: 0;
  list-style: disc;
  padding-left: 1rem;
}
.toc a{
  -webkit-text-stroke-color: var(--c-front);
  border-color: var(--c-front);
}

/*  TYPOGRAPHY
    ========================================== */

h1, h2, h3, h4, h5, h6{
  scroll-margin-top: calc(var(--lh) * 4);
}

/* titles margins */
h1,h2{
  font-family: hersheyScript;
  text-transform: lowercase;
}
h1{
  font-size: var(--fs-mega);
  line-height: calc(var(--lh) * 2);
  margin: 0 0 calc(var(--lh) * 1);
}
h2{
  font-size: var(--fs-big);
  line-height: calc(var(--lh) * 1.5);
  margin: calc(var(--lh) * 2) 0 calc(var(--lh) * 0.5);
}
h3{
  font-size: var(--fs-up);
  margin: calc(var(--lh) * 2) 0 calc(var(--lh) * 0.5);
}
h4{
  font-size: 1rem;
  border: var(--border);
  width: fit-content;
  padding: calc(var(--lh) * 0.5) var(--lh);
  box-sizing: border-box;
  border-radius: 5em;
}
h3, strong{
  -webkit-text-stroke-width: var(--thick-stroke);
}

p{
  margin: calc(var(--lh) * 0.5) 0;
}
main > p:first-of-type{
  margin-top: 0;
}
ul{
  margin: calc(var(--lh) * 0.5) 0;
  padding-left: calc(var(--lh) * 1);
  list-style-type:'— ';
}
blockquote{
  margin: calc(var(--lh) * 0.5);
  margin-right: 0;
}

:is(h2,h3,h4,h5,h6,p):first-child{
  margin-top: 0;
}
:is(h2,h3,h4,h5,h6,p):last-child{
  margin-bottom: 0;
}
h1 + h2,
h2 + h3{
  margin-top: calc(var(--lh) * 1);
}


@media only screen and (max-width: 36rem) {
  h2{
    text-align: center;
    position: relative;
    left: -0.1em;
    margin-bottom: calc(var(--lh) * 2);
    padding: 0 1em;
  }
  :root{
    --fs-mini: 0.75rem;
  }
  figure{
    display: table;
  }
  figcaption{
    display: table-caption;
    caption-side: bottom;
    box-sizing: border-box;
  }
}
/*  SVG
    ========================================== */

svg{
  vector-effect: non-scaling-stroke;
}
svg path,
svg line,
svg circle,
svg rect,
svg polygon{
  stroke-width: var(--stroke) !important;
}

/*  PRINT
    ========================================== */

@media print{
  :root{
    --lh: 1.3rem;
  }

  html{
    font-size: 10pt;
  }
  h3, strong{
    -webkit-text-stroke-width: var(--stroke);
  }
  body{
    background-color: initial;
    margin: 0 !important;
    padding: 0 !important;
  }
  main{
    width: 100%;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 1em !important;
    box-sizing: border-box;
  }
  main p:first-of-type{
    margin-top: 0;
  }

  .toc{
    display: none;
  }
  .print{
    display: none;
  }

  main > *{
    max-width: 80%;
  }
  h1{
    max-width: 100% !important;
  }

  figure{
    display: table;
  }
  figcaption{
    display: table-caption;
    caption-side: bottom;
    box-sizing: border-box;
  }

  figure,
  .diagram,
  iframe{
    margin: 0;

    max-width: 100%;
    break-inside: avoid;
    float: right;
    clear: both;
    
    margin-left: calc(var(--lh) * 2) !important;
    margin-top: calc(var(--lh) * 1);
    margin-bottom: calc(var(--lh) * 2);
  }
  .squirrel{
    max-width: 16rem;
  }
  h1, h2, h3, h4{
    break-after: avoid;
  }
  hr + h2,
  hr + h3,
  hr + h4,
  hr + p{
    margin-top: 0 !important;
  }

  :is(h2, h3, h4, h5, h6, p):first-child {
    margin-top: 0 !important;
  }
}


/* @media screen {
  .pagedjs_pages{
    background: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
  }
  .pagedjs_page{
    background-color: white;
  }
}

@page {
  size: 210mm 297mm;
  margin: 1.4cm 1.5cm;

  @bottom-right{
    content: counter(page);
    -webkit-text-stroke-width: var(--thick-stroke);
  }
} */
